# Snowflake Credentials and Environment Configuration Template
SNOWFLAKE_ACCOUNT=your_account_locator
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ROLE=TRANSFORM
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# Database & Schema Configurations
SNOWFLAKE_DEV_DATABASE=movielens_dev
SNOWFLAKE_DEV_SCHEMA=dev
SNOWFLAKE_PROD_DATABASE=movielens_prod
SNOWFLAKE_PROD_SCHEMA=raw
